h1 {text-decoration:underline;}
p {text-transformation:capitalize;}
p {text-indentation:50px;}
h1 {letter-spacing:5px;}
p {line-height:0.5;}
h1 {direction:rtl;}
h1 {word-spacing: 20px;}
h1 {text-shadow:3px 2px red;}
h1{color:blue;text-align:center;}
#p1{color:red;text-transform:capitalize;}
.p2{color:yellow;text-align:center}
body{background:url("sinchan.jpg")
                no-repeat
                 center
                 fixed
;}
P{BORDER-STYLE:DOUBLE;}